/* Variables */
:root {
  --bg-color: #303446;
  --txt-color: #c6d0f5;
  --link-color: #8caaee;
  --border-color: #e5c890;
  --font: monospace;
  --header-font-size: 18px;
  --font-size: 15px;
}

/* Elements */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--bg-color);
  color: var(--txt-color);
  font-family: var(--font);
  font-size: var(--font-size);
  display: flex;
  flex-direction: column;
}

header {
  border-bottom: 2px solid var(--border-color);
  font-size: var(--header-font-size);
  font-weight: bold;
}

header img {
  height: 35px;
  width: 35px;
  border-radius: 10%;
  margin-right: 10px;
}

code {
  padding: 1em;
  display: inline-block;
}

footer {
  border-top: 2px solid var(--border-color);
  margin-top: auto;
}

a {
  color: var(--link-color);
  text-decoration: none;
  font-weight: bold;
}

a:hover,
a:focus {
  text-decoration: underline;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  padding-top: 0.5em;
}

nav a {
  text-decoration: none;
  font-weight: bold;
}

/* Classes */
.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin-left: 5%;
  margin-right: 5%;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em;
}

.header-logo {
  display: flex;
  align-items: center;
}

.header-logo a {
  display: flex;
  align-items: center;
}

.header-menu {
  display: flex;
  gap: 1em;
}

.main-content {
  flex: 1 0 auto;
  padding: 1em;
}

.home-logos {
    display: flex;
    align-items: center;
    justify-content: left;
}

.home-logos td {
  display: flex;
  align-items: center;
}

.home-logos a {
  display: flex;
  align-items: center;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
  text-align: center;
}

.footer-content p {
  margin: 0 0;
  line-height: 1.5;
}

.footer-content table {
  margin: 0 0;
}

.footer-content .icon {
  width: 25px;
  height: 25px;
  padding: 5px;
}

.footer-content h4 {
  margin-top: 0.5em;
  margin-bottom: 0;
}

.icon {
  width: 25px;
  height: 25px;
  padding: 10px;
}

@media (max-width: 640px) {
  .header-content {
    flex-direction: column;
    align-items: flex-start;
  }

  .header-menu {
    flex-direction: column;
    width: 100%;
    margin-top: 1em;
  }
}