{% extends "base.html" %}

{% block content %}
<div class="big-icon-container">
  <img class="big-icon" src="/assets/mclerk.png"/>
</div>
<h1 class="title">
  Michael Clerk
</h1>
<h4 class="title">Socials</h4>
<div class="logo">
<table>
    <tr>
      <td><a rel="noopener" href="https://codeberg.org/mclerk"><img class="icon" src="assets/codeberg-logo_icon_blue.svg"/>mclerk</a></td>
    </tr>
    <tr>
      <td><a rel="noopener" href="https://github.com/mclerk"><img class="icon" src="assets/github-mark.svg"/>mclerk</a></td>
    </tr>
    <tr>
      <td><a rel="noopener" href="https://gitlab.com/mclerk"><img class="icon" src="assets/gitlab-logo.svg"/>mclerk</a></td>
    </tr>
    <tr>
      <td><a rel="noopener" href="https://mclerk.bsky.social" rel="me"><img class="icon" src="assets/bluesky-logo.svg"/>@mclerk.bsky.social</a></td>
    </tr>
    <tr>
      <td><a rel="noopener" href="https://linkedin.com/in/mclerk"><img class="icon" src="assets/in-logo.png"/>in/mclerk</a></td>
    </tr>
    <tr>
      <td><a rel="noopener" href="https://x.com/@_mclerk" rel="me"><img class="icon" src="assets/x-logo-black.png"/>@_mclerk</a></td>
    </tr>
</table>
</div>
<h4 class="title">Identity Verification (OpenPGP)</h4>
<div class="logo">
<table>
  <tr>
    <td><a rel="noopener" href="https://keyoxide.org/"><img class="icon" src="assets/keyoxide-color.svg"/></a></td>
  </tr>
  <tr>
    <td><a rel="noopener" href="https://keys.openpgp.org/pks/lookup?op=get&options=mr&search=0x">Download from Key Server (keys.openpgp.org)</a></td>
  </tr>
</table>
</div>
{% endblock content %}