{% extends "base.html" %}

{% block content %}
<h2 class="title">Socials</h4>
<div class="home-logos">
  <table>
      <tr>
          <td><a target="_blank" rel="noopener noreferrer" href="https://codeberg.org/mclerk"><img class="icon" src="assets/codeberg-logo_icon_blue.svg" alt="Codeberg"/><span>mclerk</span></a></td>
      </tr>
      <tr>
          <td><a target="_blank" rel="noopener noreferrer" href="https://github.com/mclerk"><img class="icon" src="assets/github-mark.svg" alt="GitHub"/><span>mclerk</span></a></td>
      </tr>
      <tr>
          <td><a target="_blank" rel="noopener noreferrer" href="https://gitlab.com/mclerk"><img class="icon" src="assets/gitlab-logo.svg" alt="GitLab"/><span>mclerk</span></a></td>
      </tr>
      <tr>
          <td><a target="_blank" rel="noopener noreferrer" href="https://mclerk.bsky.social" rel="me"><img class="icon" src="assets/bluesky-logo.svg" alt="Bluesky"/><span>@mclerk.bsky.social</span></a></td>
      </tr>
      <tr>
          <td><a target="_blank" rel="noopener noreferrer" href="https://linkedin.com/in/mclerk"><img class="icon" src="assets/in-logo.png" alt="LinkedIn"/><span>in/mclerk</span></a></td>
      </tr>
      <tr>
          <td><a target="_blank" rel="noopener noreferrer" href="https://x.com/@_mclerk" rel="me"><img class="icon" src="assets/x-logo-black.png" alt="X"/><span>@_mclerk</span></a></td>
      </tr>
  </table>
</div>
<h2 class="title">Identity Verification (OpenPGP)</h4>
<div class="home-logos">
<table>
  <tr>
    <td><a target="_blank" rel="noopener noreferrer" href="https://keyoxide.org/32316a0a3f1e037d25b0e397a76e8f27d379fb2b"><img class="icon" src="assets/keyoxide-color.svg"/><span>32316a0a3f1e037d25b0e397a76e8f27d379fb2b</span></a></td>
  </tr>
  <tr>
    <td><a target="_blank" rel="noopener noreferrer" href="https://keys.openpgp.org/pks/lookup?op=get&options=mr&search=0x32316a0a3f1e037d25b0e397a76e8f27d379fb2b"><img class="icon" src="assets/key.png"/>Download from Key Server (keys.openpgp.org)</a></td>
  </tr>
</table>
</div>
{% endblock content %}